build
lit
lit.exe
luvi
luvi.exe
luvit
luvi-sigar
luvi-sigar.exe
rackspace-monitoring-agent
tests/tmpdir
deps
GPATH
GRTAGS
GTAGS
/.idea

# Private keys - never commit
server.key
*.pem
agent-package-signing-key.txt
dist
signing-key.asc
.DS_Store
vendor-sigar
.docker-context
src/
buildtools/
